//主侧边栏
//主侧边栏的宽度
$g-main-sidebar-container-width: 70px;
//主侧边栏的背景色
$g-main-sidebar-bg: #222b45;
// 主侧边栏菜单选中背景色
$g-main-sidebar-menu-active-bg: lighten($g-main-sidebar-bg, 10);
// 主侧边栏文字颜色
$g-main-sidebar-menu-color: #ccc;
// 主侧边栏文字颜色选中颜色
$g-main-sidebar-menu-active-color: #fff;

//子侧边栏
//子侧边栏的宽度
$g-sub-sidebar-container-width: 220px;
//子侧边栏的收缩后宽度
$g-sub-sidebar-container-collapse-width: 64px;
// 次侧边栏背景色
$g-sub-sidebar-bg: #fafafa;
// 次侧边栏二级背景色
$g-sub-sidebar-next-bg: #E8E8E8;
// 次侧边栏菜单文字颜色
$g-sub-sidebar-menu-color: #37414b;
// 次侧边栏菜单文字选中颜色
$g-sub-sidebar-menu-active-color: #e7f4ff;
// 次侧边栏菜单选中背景色
$g-sub-sidebar-menu-active-bg: #5482ee;
// 次侧边栏菜单hover背景色
$g-sub-sidebar-menu-hover-bg: #C8C8C8;
//子侧边栏标题的高度
$g-sub-sidebar-container-header-height: 50px;
//子侧边栏菜单的高度
$g-sub-sidebar-menu-height: 45px;

// 顶部工具栏
// 内容区域的顶部的高度
$g-top-toolbar-height: 50px;
// 内容区域的顶部的背景色
$g-top-toolbar-bg: #fafafa;

// 顶部标签栏
// 顶部标签栏高度
$g-top-tabs-height: 45px;

// 顶部标签栏背景色
$g-top-tabs-bg: #fafafa;

// 内容区域的内容
// 内容区域的背景色
$g-main-content-bg: #F5F7F9;
